@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

:root {
    --width: 900px;
    --narrow-width: 750px;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0 !important;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202020;
    background: linear-gradient(105deg, #567EB9 0%, #B29ACA 50%, #B29ACA 80%, #F9839B 100%);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

.home {
    background: linear-gradient(105deg, #567EB9 0%, #B29ACA 50%, #B29ACA 80%, #F9839B 100%);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

.content {
    width: var(--width);
    margin: 50px auto;
}

.tickets {
    height: 100vh;
}

.narrow {
    width: var(--narrow-width);
    margin: 50px auto;
}

h1 {
    /* color: rgba(86,126,185,1); */
    color: white;
    padding-bottom: 26px;
}

.button-div{
    background-color: transparent;
    height: 100vh;
}

button {
    color: white;
    font-family: 'Poppins', sans-serif;;
    text-align: left;
    padding-top: 200px;
    line-height: 1;
    font-weight: 600;
    color: white;
    background-color: transparent;
    font-size: 2.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    border: 0 none;
    width: 495px;
}

button em {
    color: #D3DDE7;
    font-style: normal;
}

.line2 {
    padding-left: 75px;
}

.line3 {
    padding-left: 160px;
}

.line4 {
    padding-left: 215px;
}

.date{
    color: white;
    font-style: normal;
    font-size: 2rem;
}

button:hover {
    color:#D3DDE7;
}

h3 {
    padding-top: 25px;
    font-size: 1.3rem;
    /* color: rgba(86,126,185,1); */
    color: #cfdae6;
}

h3 a {
    color: #cfdae6;
}

h4 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: 15px;
}

h5 {
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
    padding-top: 5px;
}

h6 {
    padding-top: 15px;
    font-size: 1.3rem;
    /* color: rgba(86,126,185,1); */
    color: #cfdae6;
}

h6 a {
    color: #cfdae6;
    /* color: rgba(86,126,185,1); */
}

h6 a:hover {
    font-weight: 700;
}

h7 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: 5px;
}

H7 a {
    color: #202020;
}

h8 {
    color: white;
    font-size: 1.6rem;
    padding-top: 50px;
}

p {
    font-weight: 300;
    padding-bottom: 6px;
    color: #383838;
}

.indent {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #383838;
}

a:hover {
    color:#fba69d;
}

.head {
    display: grid;
    grid-template-columns:  calc(var(--width) - 325px) 325px;
}

.map {
    text-align: right;
}

.topnav {
    overflow: hidden;
    background: transparent;
    position: relative;
}
  
.topnav #myLinks {
    display: none;
    margin: 0; 
}

.topnav a {
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    display: block;
}   

.topnav a.icon {
    background: transparent ;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background: linear-gradient(90deg, rgba(219,145,198,1) 0%, rgba(86,126,185,1) 100%);
    background-size: 400% 400%;
    color: white;
    font-weight: 400;
    animation: gradient 4.5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.topnav a.icon:hover {
    background: transparent ;
    color: rgba(219,145,198,1);
}

.active {
    background: transparent;
}

hr {
    width: 40%;
    margin: auto;
    border: 3px solid #9893c5;
}

.tenney {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--width);
}

.headshot-img {
    width: 250px;
    margin-bottom: -10px;
    margin-top: 45px;
}

.right {
    text-align: right;
}

.right-img {
    margin-left: calc(var(--width) - 250px);
}

.anchor {
    padding: 10px;
}

.latticediv-1{
    height: 100vh;
}

.latticediv-2{
    display: none;
}

.lattice {
    display: block;
    width: 100vw;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #383838;
    font-size: 0.9rem;
}



@media (max-width: 925px) {
    :root {
        --width: 600px;
        --narrow-width: 600px;
    }

    .head {
        display: block;
    }

    .map {
        text-align: center;
        padding-top: 20px;
    }

    .latticediv-1{
        display: none;
    }
    
    .latticediv-2{
        display: block;
    }

    .lattice {
        height: 100vh;
        width: auto;
    }
}

@media (max-width: 600px) {
    :root {
        --width: 100%;
        --narrow-width: 100%;
    }

    body {
        padding: 3px;
    }

    .topnav a {
        font-size: 1.1rem;
    } 

    button {
        font-size: 2rem;
        width: 350px;
    }
        
    .line2 {
        padding-left: 50px;
    }
    
    .line3 {
        padding-left: 110px;
    }
    
    .line4 {
        padding-left: 145px;
    }

    .date{
        font-size: 1.5rem;
    }
}
