/* designed and created by Rebecca Lane and Thomas Nicholson (cc 2020    Harmonic Space Orchestra) */

/* text font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

/* hamburger menu icon */
@font-face{
    font-family: 'FontAwesome';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

/* gradient parameters */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* global variables */
:root {
    --width: 900px;
    --narrow-width: 750px;
    --offwhite: #cfdae6;
    --nearblack: #202020;
    --darkgray: #383838;
    --link-hover: #fba69d;
    --hamburger-salmon: rgba(219,145,198,1);
    --link: #833a71;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important;
    background: none;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--nearblack);
    background: linear-gradient(240deg, #567EB9 0%, #B29ACA 50%, #B29ACA 70%, #F9839B 95%, #e6b394 100%);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

.home {
    background: linear-gradient(105deg, #567EB9 0%, #B29ACA 50%, #B29ACA 70%, #F9839B 95%, #e6b394 100%);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}

.content {
    width: var(--width);
    margin: 15px auto;
}

.hamburger {
    display:inline-block;
    font:normal normal normal 1rem "FontAwesome";
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hamburger:before {
    content: "\f0c9";
}

.narrow {
    width: var(--narrow-width);
    margin: 50px auto;
}

h1 {
    color: white;
    padding-bottom: 26px;
}

.button-div{
    background-color: transparent;
    height: 100vh;
}

button {
    color: white;
    font-family: 'Poppins', sans-serif;;
    text-align: left;
    padding-top: 200px;
    line-height: 1;
    font-weight: 600;
    color: white;
    background-color: transparent;
    font-size: 2.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    border: 0 none;
    width: 495px;
}

button em {
    color: #D3DDE7;
    font-style: normal;
}

.line2 {
    padding-left: 75px;
}

.line3 {
    padding-left: 160px;
}

.line4 {
    padding-left: 215px;
}

.date {
    color: white;
    font-style: normal;
    font-size: 2rem;
}

button:hover {
    color:#D3DDE7;
}

h3 {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    color: var(--offwhite);
}

h3 a {
    color: var(--link);
}

h4 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: 15px;
}

h4 a {
    color: var(--link);
}

h5 {
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
    padding-top: 5px;
}

h6 {
    padding-top: 22px;
    font-size: 1.3rem;
    color: var(--offwhite);
}

h6 a {
    color: var(--offwhite);
}

h6 a:hover {
    font-weight: 700;
}

h7 {
    display: block ;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: 6px;
}

H7 a {
    color: var(--nearblack);
}

h8 {
    display: block;
    color: var(--offwhite);
    font-size: 1.6rem;
    padding-top: 36px;
    margin-bottom: -15px;
}

H9 {
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: 13px;
}

H9 a {
    color: var(--nearblack);
}

p {
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 6px;
    color: var(--darkgray);
}

.name {
    white-space: nowrap;
}

.address {
    margin-top: -7px;
}

.indent {
    padding-left: 20px;
}

.dur {
    font-style: italic;
    margin-top: -10px;
}

a {
    text-decoration: none;
    color: var(--link);
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: var(--link-hover);
}

.jump {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}

.jump H3 {
    padding-top: 0;
}
.head {
    display: grid;
    grid-template-columns:  calc(var(--width) - 325px) 325px;
}

.map {
    text-align: right;
}

.topnav {
    overflow: hidden; 
    background: transparent;
    position: relative;
    top: 0;
}
  
.topnav #myLinks {
    display: none;
    margin: 0; 
}

.topnav a {
    text-align: right;
    color: white;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    display: block;
}   

.topnav a.icon {
    background: transparent;
    font-size: 1.7rem;    
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background: linear-gradient(90deg, var(--hamburger-salmon) 0%, rgba(86,126,185,1) 100%);
    background-size: 400% 400%;
    color: white;
    font-weight: 400;
    animation: gradient 4.5s ease infinite;
}

.topnav a#dud:hover {
    background: transparent;
    animation: none;
    cursor: default;
}

.topnav a.icon:hover {
    background: transparent ;
    color: var(--hamburger-salmon);
}

.active {
    background: transparent;
}

.tenney {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--narrow-width);
}

figcaption {
    margin-top: 40px;
    font-size: 0.7rem;
    font-style: italic;
    color: var(--darkgray);
}

.headshot-img {
    width: 250px;
    margin-bottom: -10px;
    margin-top: 2px;
    filter: grayscale(100%);
}

.right {
    text-align: right;
}

.right-img {
    margin-left: calc(var(--width) - 250px);
}

.hkf {
    padding-top: 0px;
    width: 150px;
}

.quickfigure {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.anchor {
    padding: 9px;
}

.latticediv-1{
    height: 100vh;
}

.latticediv-2{
    display: none;
}

.lattice {
    display: block;
    width: 100vw;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

footer {
    padding-top: 150px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--darkgray);
    font-size: 0.9rem;
}

.grad {
    padding-top: 150px;
    background: linear-gradient(180deg,#B29ACA 0%, var(--offwhite) 40%);
    background-size: 100% 100%;
}

/* tweaks for tablet */

@media (max-width: 925px) {
    :root {
        --width: 600px;
        --narrow-width: 600px;
    }

    .head {
        display: block;
    }

    .map {
        text-align: center;
        padding-top: 20px;
    }

    .latticediv-1{
        display: none;
    }
    
    .latticediv-2{
        display: block;
    }

    .lattice {
        height: 100vh;
        width: auto;
    }

    .quickfigure {
        width: 100%;
    }

    .topnav a.icon {
        background: transparent ;
        color: var(--hamburger-salmon);
    }
}

/* tweaks for mobile */

@media (max-width: 600px) {
    :root {
        --width: 100%;
        --narrow-width: 100%;
    }

    body {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
    }

    p {
        font-size: 0.85rem;
    }

    h3, h4, H7, H9 {
        font-size: 1rem;
    }

    .topnav a {
        font-size: 1.1rem;
    }

    button {
        font-size: 2rem;
        width: 350px;
    }
        
    .line2 {
        padding-left: 50px;
    }
    
    .line3 {
        padding-left: 110px;
    }
    
    .line4 {
        padding-left: 145px;
    }

    .date{
        font-size: 1.5rem;
    } 

    .topnav a {
        padding: 14px 0px;
    }   
}
